VITE_SUPABASE_URL=https://nhefpttkqefgevrnlqtt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5oZWZwdHRrcWVmZ2V2cm5scXR0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTEzNTU4MzEsImV4cCI6MjA2NjkzMTgzMX0.12i-Cr1m7SyDrWxJDdrL6Tv07HSq1y68m4xnQhhwVGM



